@font-face {
    font-family: 'fff_tusj';
    src: url('FFF_Tusj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'fff_tusj';
}

.error {
	color: #FF0040;
}

footer {
	 border-top: 1px solid rgba(10,10,10,.25);
	 margin-top: 40px;
}


