@import controllers.user.CreateRegistrationForm
@import controllers.user.RegistrationController
@(registration: Form[CreateRegistrationForm], registrationEnabled: Boolean)(implicit messages: Messages)

@import helper._

@main("Workshop Registration") {

    <div class="row">
        <div class="medium-10 columns">
            Der Worshop bietet eine Einführung in JavaScript als Programmiersprache, sowie einen Überblick über Einsatzbereiche, Entwicklungstools und Vorgehensweisen.
            <br/>
            Voraussetzung: Grundlegende Programmierkenntnisse
            <br/>
            Anmeldung: Ab 22. Februar
            <br/><br/>
            noch 5 freie Plätze
        </div>
        <div class="medium-2 columns">
            <h5>Location:</h5>
            Cafe Netzwerk<br/>Luisenstraße 11<br/>80333 München <a href="http://www.openstreetmap.org/node/957531675">OpenStreetmap</a>
        </div>
    </div>


    
    <div class="row">
        @if(registrationEnabled) {
        <div class="medium-2 columns"></div>
        <div class="medium-8 columns">
            <h3>Anmeldung</h3>
        @form(controllers.user.routes.RegistrationController.addRegistration()) {
            @helper.inputText(registration("name"),
                'id -> "name",
                'class -> "ui-state-default",
                'autocomplete -> "off",
                'placeholder -> "Bitte Vorname & Nachname angeben",
                '_label -> "Name"
            )

            @helper.inputText(registration("email"),
                'id -> "email",
                'class -> "ui-state-default",
                'autocomplete -> "off",
                'placeholder -> "Bitte E-Mail Adresse angeben",
                '_label -> "E-Mail"
            )

            <div class="buttons">
                <input type="submit" id="submit" value="Anmelden!"/>
            </div>
        }
        } else {
            Keine Anmeldung!
        }
        </div>
        <div class="medium-2 columns"></div>
    </div>
}
